# This is your .env file
# The data added here will be propagated to the client
# example:
# PORT=8080

# Firebase configs:
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# Firestore host from firebase emulator
FIRESTORE_DEV_HOST=